@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
a {
  color: currentColor;
  text-decoration: none;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  padding: 0;
}
input:focus {
  outline: none;
  border: none;
}
